.todos {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 47.5%;
  padding: 15px;
  /* background-color: rgb(50, 195, 205); */
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
}